// Variables
@import 'variables';
$content-background-color: $primary-color;
$content-padding: 15px 20px;

// Mixins
@mixin recue($sidebar) {
  width: calc(100% - #{$sidebar});
  left: $sidebar;
}

// Selectors
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.content {
  position: absolute;
  transition: all .4s;
  background-color: $content-background-color;
}

.showSpinner {
  z-index: 10;
}

.loading__spinner {
  position: absolute;
  left: 50%;
  top: 250px;
  z-index: 10;
}

@media (min-width: 768px) {
  .content__grid {
    padding: 15px;
    border-top: 1px solid #d9d9d9;
    height: 100%;

    &--full {
      padding: 0;
      height: 100%;
    }
  }
}

@media (max-width: 767px) {
  .content {
    left: 0;
    width: 100%;
  }
}