$primary-color: #fff;
$background-color: black;
$secondary-color: #c52d2f;

$logo-url: "logo.png";
$logo-height: 31px;
$logo-width: 120px;

$navbar-bg-color: $background-color;
$navbar-height: 50px;
$navbar-options-width: 135px;
$navbar-bg-color-hover:$secondary-color;

$grid-row-color: #BAE5FF;
